    <!-- Navigation -->
<div class="row">
  <div class="large-12 columns">    

      <nav class="top-bar">
        <ul class="title-area">
          <!-- Title Area -->
          <li class="name">
            <h1>
              <a href="#">
                Top Bar Title
              </a>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <ul class="left">
           {% for post in site.posts %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
           {% endfor %}
            <li><a href="#">Link 2</a></li>
          </ul>

          <ul class="right">
            <li class="search">
              <form>
                <input type="search">
              </form>
            </li>

            <li class="has-button">
              <a class="small button" href="#">Search</a>
            </li>
          </ul>
        </section>
    </nav>

  </div>
</div>
    <!-- End Navigation -->