  <div class="row">
    <div class="large-12 columns">
      <div class="row">

    <!-- Thumbnails -->

        <div class="large-3 small-6 columns">
          <img src="images/dVillareal01.jpg" />
          <h6 class="panel">David Villareal</h6>
        </div>

        <div class="large-3 small-6 columns">
          <img src="images/fatima01.jpg" />
          <h6 class="panel">F&aacute;tima & son Yurgen</h6>
        </div>

        <div class="large-3 small-6 columns">
          <img src="images/raquelCervantes01.jpg" />
          <h6 class="panel">Raquel Cervantes</h6>
        </div>

        <div class="large-3 small-6 columns">
          <img src="images/walkerFamily01.jpg" />
          <h6 class="panel">Walker Family</h6>
        </div>

    <!-- End Thumbnails -->

      </div>
    </div>
  </div>